---
import { capitalize } from "vue";
import Container from "./Container.astro";
import Button from "./Button.astro";
import FormattedDate from "./FormattedDate.astro"
import type { Event } from "../../types/event.interface";
import EventTable from "./EventTable.astro";

interface Props {
	events: Event[]
}

const { events } = Astro.props;
---

<section aria-label="Schedule" class="pt-18 sm:pt-32 bg-gradient-to-b from-blue-50/90 via-blue-50/0 to-blue-50/0">
  <Container class="relative z-10">
    <div class="flex flex-col items-start space-y-6 sm:space-y-0 sm:flex-row sm:space-x-6">
      <div class="grow">
        <h2 class="font-display text-2xl md:text-4xl font-semibold max-w-xl leading-snug">
          Une communauté de plus de 6000 développeuses et développeurs
        </h2>
        <p class="font-mono space-y-6 mt-4 tracking-tight text-lg max-w-xl text-slate-950 leading-relaxed ">
          Depuis plus de 10 ans, un événement tous les 2èmes mardis du mois dans les locaux d'une entreprise de la tech.
        </p>
      </div>

      <Button href="/events" class="shrink-0">
        Tous les événements
      </Button>
    </div>
  </Container>
  <div class="relative mt-14 sm:mt-24">
    <Container class="relative">
      <div class="grid sm:grid-cols-3 gap-8">
        {events.map((event) => (
          <EventTable event={event} />
        ))}
      </div>
    </Container>
  </div>
</section>